* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Seagram tfb';
    src: url('../fonts/Seagramtfb.woff') format('woff2'),
        url('../fonts/Seagramtfb.woff2') format('woff');
    font-weight: 1000;
    font-style: normal;
}
@font-face {
    font-family: 'MoglanDemo';
    src: url('../fonts/MoglanDemo.woff2') format('woff2'),
        url('../fonts/MoglanDemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

ul,ol,li,a {
    list-style: none;
    text-decoration: none;
}
section#home { 
    background-color: #fff;
    padding: 20px 0;
}
.wrapper {
    width: 96%;
    margin: 0 auto;
    max-width: 1200px;
}

section#home header { 
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid white;
}

section#home header div.topSection { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

section#home header div.topSection h1 { 
    width: 70px;
    height: 70px;
    transition: transform .2s ease;
}
/* section#home header div.topSection h1:hover {
    transform: scale(1.05);
} */

section#home header div.topSection h1 a { 
    width: 100%;
    display: block;
    height: 100%;
    overflow: hidden;
}

section#home header div.topSection h1 a img { 
    display: block;
    height: 100%;
}

section#home header div.topSection h2.title {
    font-family: MoglanDemo;
    font-size: 70px;
    letter-spacing: 0.20cm;
    opacity: .9;
}

section#home header div.topSection div.right { 
    width: 20%;
}

section#home header div.topSection div.right div.contact { 
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

section#home header div.topSection div.right div.contact ul { 
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.bookdetails2 {
    display: none;
}

section#home header div.topSection div.right div.contact ul li { 
    width: 22%;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
}

section#home header div.topSection div.right div.contact ul li a { 
    width: 100%;
    display: block;
}

section#home header div.topSection div.right div.contact ul li a img { 
    width: 100%;
    display: block;
}

section#home header div.topSection div.right div.search { 
    display: flex;
    justify-content: space-between;
}

section#home header div.topSection div.right div.search input { 
    width: 70%;
    border: none;
    padding: 5px ;
}
section#home header div.topSection div.right div.search input:focus {
    outline: none;
}
section#home header div.topSection div.right div.search button { 
    width: 26%;
    background-color: azure;
    outline: none;
    border: none;
}

section#home header div.bottomSection { 
    padding: 8px 20px;
}

section#home header div.bottomSection ul { 
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
section#home header div.bottomSection ul li {
    padding: 4px 8px;
    cursor: pointer;
    align-content: center;
}
section#home header div.bottomSection ul li:last-child {
    position: relative;
}
section#home header div.bottomSection ul li.cot {
    display: flex;
    align-items: center;
    cursor: pointer;
}
section#home header div.bottomSection ul li.cot img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    transition: transform 0.6s ease;
}
section#home header div.bottomSection ul li.cot img.rotate {
    transform: rotate(180deg);
}
section#home header div.bottomSection ul li div.subMenu {
    position: absolute;
    left: 0;
    top: 38px;
    height: 0;
    transition: height 0.2s ease;
    overflow: hidden;
    width: 100%;
    background-color: white;
}
section#home header div.bottomSection ul li div.subMenu.actives {
    height: 52px;
}
section#home header div.bottomSection ul div.subMenu a {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
section#home header div.bottomSection ul div.subMenu a:hover {
    background-color: rgba(1, 0.1, 0.1, 0.1);
}
section#home header div.bottomSection ul li:hover { 
    background-color: rgba(1, 0.1, 0.1, 0.1);
}

section#home header div.bottomSection ul li a { 
    color: black;
}

section#home section.bookDetails { 
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid white;
}
section#home section.bookDetails h1 {
    font-size: 3.75rem;
    text-align: center;
    color: #348E86;
    letter-spacing: 0.3rem;
    text-shadow: 3px 3px black;
    font-family: Seagram tfb;
}
section#home section.bookDetails h2 {
    font-size: 34px;
    text-align: center;
    color: black;
    text-shadow: 1px 1.5px white;
    font-family: Seagram tfb;
}
section#home section.bookDetails h3 {
    font-size: 26px;
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-family: Moglandemo;
    letter-spacing: 0.3rem;
}

section#home section.bookDetails div.bottom {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

section#home section.bookDetails div.bottom ul.bookdetails {
    flex: 1;
    font-family: sans-serif;
    padding: 6px 0;
}
section#home section.bookDetails div.bottom ul.bookdetails div.purchase {
    display: flex;
    margin-top: 30px;
}
section#home section.bookDetails div.bottom ul.bookdetails div.purchase a.price {
    padding: 12px 20px;
    border-radius: 12px;
    align-content: center;
    margin-right: 15px;
    font-weight: bold;
    font-size: 18px;
    background-color: #FB641B;
    color: white;
}
section#home section.bookDetails div.bottom ul.bookdetails div.purchase a.buy {
    padding: 12px 20px;
    border-radius: 12px;
    align-content: center;
    font-weight: bold;
    font-size: 18px;
    background-color: #FB641B;
    color: white;
}
section#home section.bookDetails div.bottom ul.bookdetails li {
    margin-bottom: 8px;
    letter-spacing: 0.065rem;
}
section#home section.bookDetails div.bottom ul.bookdetails li b {
    letter-spacing: 0.05rem;
}
section#home section.bookDetails div.left { 
    width: 22%;
    margin-right: 30px;
}

section#home section.bookDetails div.left h2 { 

}

section#home section.bookDetails div.left div.bookImage { 
    width: 100%;
    height:340px;
}

section#home section.bookDetails div.left div.bookImage img { 
    display: block;
    width: 100%;
    height: 100%;
    border: 10px solid white;
}


section#home section.bookDetails div.right { 
    width: 22%;
}

section#home section.bookDetails div.right h2 { 

}

section#home section.bookDetails div.right div.bookImage { 
    width: 100%;
    display: block;
    height: 340px;
}

section#home section.bookDetails div.right div.bookImage img { 
    width: 100%;
    display: block;
    height: 100%;
    border: 10px solid white;
    
}
section#home section.bookSummary {
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
}
section#home section.bookSummary h3 {
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 8px;
}
section#home section.bookSummary p {
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.08rem;
}


.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }




  @media all and (max-width:1080px) {
    section#home header div.topSection h2.title {
        font-size: 64px;
    }
    section#home section.bookDetails div.left {
        width: 24%;
    }
    section#home section.bookDetails div.right {
        width: 24%;
    }
  }
  @media all and (max-width:980px) {
    section#home header div.topSection div.right div.contact ul {
        width: 70%;
    }
    section#home header div.topSection h2.title {
        font-size: 60px;
    }
    section#home section.bookSummary p {
        font-size: 13px;
    }
  }


